*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: block;
}

.comparacao{
    color: white;
    padding: 8px;
    margin: 0 auto;
    text-align: center;
    display: none;
}

input,
button{
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

form button{
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
}
